consul {
    bind 127.0.0.153
    forward . dns://127.0.0.1:8600
}

. {
    bind 127.0.0.153
    forward . tls://45.90.28.0 tls://45.90.30.0 {
        tls_servername {{ ansible_nodename }}-{{ lookup('hashi_vault', 'secret=cassiecluster/nextdns:id') }}.dns.nextdns.io
    }
}
